doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/js/script.js") // Corrected indentation

  body
    header
      h1.class-about Discount Details
    div.form-container
      div.form-fields
        div.form-row
          div.column
            label.form-label(for="select1") Products
            select.form-select(name="products-dropdown" id="products-dropdown")
                option(value="" disabled selected) Select a Product
                option(value="all") All Products
                each product in products
                    optgroup(label=product.title)
                    option(value=product.id data-product="true")= `${product.title} All Variants`
                    each variant in product.variants
                        option(value=variant.id)= `${variant.title} - $${variant.price}`

            script.
                // Handle dropdown selection
                document.getElementById('products-dropdown').addEventListener('change', function() {
                    const selectedValue = this.value;
                    
                    if(this.querySelectorAll("option")[this.selectedIndex].dataset.product == "true"){

                        console.log('Selected Product ID:', selectedValue);

                    }
                    else{

                        console.log('Selected Variant ID:', selectedValue);
                    }
                });
          div.column
            label.form-label(for="select2") Discount Type
            select.form-select(id="select2" name="select2")
              option(value="percentage") Percentage
              option(value="amount") Amount
              option(value="fixed amount") Fixed Amount
          div.column
            label.form-label(for="numberField") Discount
            input.form-input(type="number" id="numberField" name="numberField" placeholder="Enter a number")
    footer
      div.row
        button.submit-button(type="button" id="add-more-button") Add More
        button.submit-button(type="button" id="submit-button") Submit