doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Profiles List
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

  body
    header
      div.button-container
        a.back-buttons(href="/home") Back
        form(action="/logout" method="POST" class="logout-form")
          button(type="submit" class="btn logout-button") Logout

    .container.mt-5
      h1.text-center Profiles List
      table.table.table-striped.table-bordered.mt-4
        thead
          tr
            th First Name
            th Last Name
            th Email
            th State
            th Country
            th Account Status
            th Actions
        tbody
          each profile in profiles
            tr
              td= profile.first_name
              td= profile.last_name
              td= profile.email
              td= profile.state
              td= profile.country
              td
                if profile.account_status === "active"
                  span.badge.bg-success Active
                else if profile.account_status === "inactive"
                  span.badge.bg-warning Inactive
                else
                  span.badge.bg-danger Suspended
              td
                if profile.account_status != "active"
                  form(action=`/home/customer/${profile._id}/approve` method="POST" style="display:inline-block")
                    button.btn.btn-success.btn-sm(type="submit") Approve
                  form(action=`/home/customer/${profile._id}/delete` method="POST" style="display:inline-block")
                    button.btn.btn-danger.btn-sm(type="submit") Delete
                else 
                  span ACCOUNT ALREADY GENERATED